:root 
{
    --primary-color: #e50914;
    --dark-color: #141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: #fff;
}

a {
    color:#fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img{
    width: 100%;
}


.showcase{
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('../img/TR-tr-20221219-popsignuptwoweeks-perspective_alpha_website_small.jpg') no-repeat center center/cover;
}

.showcase::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img{
    width: 170px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}

.showcase-content h1 {
   font-weight: 700;
   font-size: 5.2rem;
   line-height: 1.1; 
   margin: 0 0 2rem;
}

.showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}

/* Tabs */
.tabs {
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container > div {
    padding: 1.5rem 0;
}

.tabs .container > div:hover {
    color: #fff;
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content */
.tab-content{
    padding: 3rem 0;
    background: #000;
    color: #fff;

}

/* Hide Content initially */
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
}

.show {
    display: block !important;
}

#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;

}


#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;

}

.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody tr td {
    color: #999;
    padding: 0.8rem 1.2rem;
    text-align: center;
}

.table tbody tr td:first-child {
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background: #222;
}

/* Our Story Card*/

@media(max-width:960px)
{
    .our-story-card {
        padding: 70px 45px;
    }
}

.our-story-card {
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
}

* {
    letter-spacing: 0!important;
}

.animation-card .animation-card-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

.animation-card.watchOnTv .our-story-card-text {
    margin: -5% 0;
}
.animation-card .our-story-card-text {
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 52%;
    z-index: 3;
}
.our-story-card-subtitle, .our-story-card-text {
    font-size: 1.625rem;
    font-weight: 400;
}

.our-story-card-title {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
/*
@media screen and (min-width: 740px)
h1 {
    font-size: 38px;
}
*/
h1 {
    font-size: 27px;
    margin: 0 0 0.4em;
}

h2, h3, h4, h5 {
    margin: 0.75em 0 0.25em;
}

b, h1, h2, h3, h4, h5, h6, optgroup, strong {
    font-weight: 500;
}

.animation-card .our-story-card-img-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 48%;
}

.animation-card.watchOnTv .our-story-card-animation-container {
    margin: -10% -5% -5% 0;
}
.animation-card .our-story-card-animation-container {
    overflow: hidden;
    position: relative;
}

.animation-card.watchOnDevice .our-story-card-img, .animation-card.watchOnTv .our-story-card-img {
    position: relative;
    z-index: 2;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.animation-card.watchOnTv .our-story-card-animation {
    height: 100%;
    left: 50%;
    max-height: 54%;
    max-width: 73%;
    position: absolute;
    top: 46%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.animation-card.watchOnDevice .our-story-card-video, .animation-card.watchOnTv .our-story-card-video {
    height: 100%;
    width: 100%;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

.center-pixel {
    left: 50%;
    position: absolute;
    top: 50%;
}


/* Our story card 2*/

.animation-card.watchOnDevice .our-story-card-animation {
    height: 100%;
    left: 50%;
    max-height: 47%;
    max-width: 63%;
    position: absolute;
    top: 34%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.animation-card.watchOnDevice .our-story-card-img, .animation-card.watchOnTv .our-story-card-img {
    position: relative;
    z-index: 2;
}
img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.animation-card .our-story-card-animation-container {
    overflow: hidden;
    position: relative;
}

.animation-card.watchOnDevice .our-story-card-video, .animation-card.watchOnTv .our-story-card-video {
    height: 100%;
    width: 100%;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

.animation-card.watchOnDevice .our-story-card-text {
    margin: -2% 0;
}

.animation-card .our-story-card-text {
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 52%;
    z-index: 3;
}
.our-story-card-subtitle, .our-story-card-text {
    font-size: 1.625rem;
    font-weight: 400;
}


/* Footer */
.footer {
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;

}

.footer, .footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.5rem;
}
.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 1.9;
}

/* Container */

.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Text Styles */
.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
 
}

.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center{
    text-align: center;
}

.text-dark{
    color: #999;
}

/* Buttons */

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
    border-radius: 2px;
}

 .btn:hover{
    opacity: 0.9;
 }

 .btn-rounded {
    border-radius: 5px;
 }

 .btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
 }

 .btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
 }

 .btn-icon {
    margin-left: 1rem;
 }

 @media(max-width: 960px) {
    .showcase {
        height: 70vh;
    }

    .hide-sm {
        display: none;
    }

    .showcase-top img {
        top: 30%;
        left: 5%;
        transform: translate(0);
    }

    .showcase-content h1 {
		font-size: 3.7rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1.5rem;
	}

	.footer .footer-cols {
		grid-template-columns: repeat(2, 1fr);
	}

	.btn-xl {
		font-size: 1.5rem;
		padding: 1.4rem 2rem;
		text-transform: uppercase;
	}

	.text-xl {
		font-size: 1.5rem;
	}

	.text-lg {
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}

	.text-md {
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
 }

 @media (max-width: 700px) {
	.showcase::after {
		background: rgba(0, 0, 0, 0.6);
		box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
	}

	.showcase-content h1 {
		font-size: 2.5rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1rem;
	}

	#tab-1-content .tab-1-content-inner {
		grid-template-columns: 1fr;
		text-align: center;
	}

	#tab-2-content .tab-2-content-top {
		display: block;
		text-align: center;
	}

	#tab-2-content .tab-2-content-bottom {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		text-align: center;
	}

	.btn-xl {
		font-size: 1rem;
		padding: 1.2rem 1.6rem;
		text-transform: uppercase;
	}
}

@media(max-height: 600px) {
  .showcase-content {
	margin-top: 3rem;
}
}


/* Our story card*/


@media(max-width:349px) and (min-width: 350px)  and (max-width: 399px), only screen and (min-width:400px) and (max-width:960px) {
    .animation-card.animation-card.watchOnDevice .our-story-card-text{
        margin: 0;
    }
}
@media(max-width:960px) and (min-width: 350px) and (max-width: 399px), only screen 
and (min-width: 400px) and (max-width: 549px), only screen 
and (min-width: 550px) and (max-width: 949px)
{
    .animation-card .our-story-card-text {
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .animation-card .animation-card-container{
        flex-direction: column;
    }

    .animation-card .our-story-card-text {
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .our-story-card-subtitle, .our-story-card-text {
        font-size: 1.125rem;
    }
    .our-story-card-subtitle, .our-story-card-text {
        
        font-weight: 400;
    }
}

@media(max-width:960px)
{
    .animation-card.animation-card.watchOnTv .our-story-card-text {
        margin: 0;
    }
}


@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px){
.animation-card.watchOnTv .our-story-card-text {
    margin: 0;
}
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px){
.animation-card .animation-card-container {
    flex-direction: column;
}
}

@media only screen and (max-width: 349px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 550px) and (max-width: 949px) {
.animation-card.watchOnTv .our-story-card-animation-container {
    margin: -10% 0 0;
}
}

@media only screen and (max-width: 960px), only screen 
and (min-width: 350px) 
and (max-width: 399px), only screen 
and (min-width: 400px) 
and (max-width: 549px), only screen 
and (min-width: 550px) 
and (max-width: 949px){
.animation-card.watchOnDevice .our-story-card-text {
    margin: 0;

}
}

@media only screen and (max-width: 960px), only screen 
and (min-width: 350px) and (max-width: 399px), only screen 
and (min-width: 400px) and (max-width: 549px), only screen 
and (min-width: 550px) and (max-width: 949px){
.animation-card .our-story-card-text {
    padding: 0;
    text-align: center;
    width: 100%;
}
}